@import url('https://fonts.googleapis.com/css?family=Nunito:400,800|Stylish&display=swap');

:root {
  /* RGB 91, 146, 186*/
  --main-color: #282b28;
  /* RGB 81, 130, 165 */
  --gradient-color: rgb(42, 70, 90);
  --second-gray: #a3bac3;
  --light-white: #fcffeb;
  --hover-color: #b3b492;
  --blue-gray: #1a2a35;
  --white-smoke: #f5f8fa;
  --rose: #440d0f;
  --quicksand: 'Stylish', sans-serif;
  --nunito: 'Nunito', sans-serif;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-color);
}

.hero-text h5 {
  font-family: var(--quicksand);
  color: var(--rose);
  font-size: 3rem;
}

.hero-text h1 {
  font-family: var(--quicksand);
  letter-spacing: 0.3rem;
  font-size: 4.5rem;
  margin: 0.7rem 0;
  margin-top: 0;
  color: var(--light-white);
}

.hero-text h4 {
  font-family: var(--quicksand);
  align-self: auto;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 200;
  margin: 0.5rem 0;
  color: #3a405a;
}

.strike {
  color: var(--rose);
  text-decoration: line-through;
}

.text {
  color: #3a405a;
}

.social-links {
  padding: 0;
  margin: 2rem 1rem;
  font-size: 1.5rem;
}

.fonta-icon {
  color: var(--light-white);
  margin: 0.3rem 1rem;
}

.fonta-icon:hover {
  color: var(--hover-color);
}

.bouncing-arrow {
  position: absolute;
  bottom: 5%;
  font-size: 2.4rem;
}

.bouncing-arrow a {
  font-weight: 100;
  color: var(--light-white);
}

.projects-container {
  background: var(--light-white);
}

.projects {
  display: flex;
  flex-direction: column;
}

.featured-project {
  display: flex;
  height: 60vh;
  margin-bottom: 10px;
}

.featured-project:nth-child(even) {
  margin-top: 20px;
  margin-right: 50px;
  flex-direction: row-reverse;
}

.featured-project:nth-child(even) .project-text {
  transform: translateX(150px);
}

.featured-project:nth-child(even) .featured-links {
  flex-direction: row-reverse;
}

.featured-project:nth-child(even) .tech-used p {
  text-align: right;
}

.featured-img {
  margin-left: 50px;
  max-width: 38vw;
  display: flex;
  flex-direction: column;
}

.featured-links {
  display: flex;
  justify-content: space-between;
}

.featured-links h1 {
  font-size: 1.8rem;
}

.project-img {
  background: url('./img/project-placement-1.jpg') center/cover no-repeat;
  height: 55vh;
  filter: grayscale();
  width: 38vw;
  border: 1px solid black;
  transition: filter 0.3s ease-in;
}

.project-img:hover {
  filter: none;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.project-links a {
  color: #cdcdcd;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 5px;
}

.project-links a:hover {
  color: blue;
}

.project-description {
  align-self: center;
}

.project-text {
  display: flex;
  height: 15vh;
  width: 55vw;
  background-color: #fff;
  transform: translateX(-100px);
  overflow: hidden;
  z-index: 5;
  transition: border-radius 0.5s ease-in;
}

.project-text:hover {
  border-radius: 20px;
}

.project-text p {
  margin-left: 10px;
  align-self: center;
}

.tech-used p {
  margin-top: 10px;
  text-align: center;
  word-spacing: 15px;
  font-size: 1.6rem;
}

.about-container {
  height: 60vh;
  background: var(--light-white);
}

.about-sections {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-description {
  width: 60vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 15px;
  align-self: flex-start;
  color: var(--white-smoke);
  background-color: var(--main-color);
  box-shadow: 15px 18px 15px -12px rgba(0, 0, 0, 0.34);
}

.about-description h5 {
  font-weight: bold;
  margin-left: 5px;
  font-size: 1.8rem;
  color: var(--light-white);
  font-family: var(--nunito);
}

.contact-container {
  background-color: var(--light-white);
  height: 60vh;
}

.contact-box {
  position: relative;
  display: flex;
  height: 45vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-box p {
  font-size: 1.1rem;
  text-align: center;
  width: 600px;
}
.contact-box a {
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: var(--main-color);
  width: 125px;
  bottom: 35%;
  text-decoration: none;
  border: 1px solid var(--main-color);
  transition: all 0.4s linear;
}
.contact-box a:hover {
  background: var(--main-color);
  color: var(--light-white);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--white-smoke);
}

.nav-titles a {
  color: var(--light-white);
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  margin: 0 1.6rem;
  font-size: 1.3rem;
}
.nav-titles a:hover {
  color: var(--hover-color);
}
.brand-logo {
  font-family: 'Stylish', sans-serif;
  letter-spacing: 0.2rem;
  color: var(--light-white);
  font-size: 1.9rem;
}

.brand-logo:hover {
  color: var(--hover-color);
}

.titles {
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: var(--blue-gray);
  font-family: var(--quicksand);
}

.line-break {
  width: 75%;
  margin: 1.7rem auto;
  background-color: #304e63;
}

#textarea-label {
  margin-left: 52px;
}

footer {
  height: 80px;
  background: var(--main-color);
}

#resume-btn {
  width: 80px;
  height: 35px;
  line-height: 30px;
  border: 1px solid var(--light-white);
  border-radius: 3px;
  color: var(--light-white);
  outline: 2px solid var(--main-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in;
}

#resume-btn:hover {
  background-color: var(--light-white);
  color: var(--main-color);
}
