@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Quantico:700i&display=swap');

:root {
  --main-color: #011627;
  --second-color: #d3fff3;
  --hover-color: #f8f4e3;
  --bright-yellow: #faff81;
  --oxygen: 'Oxygen', sans-serif;
  --quantico: 'Quantico', sans-serif;
  --letter-spacing: 3px;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#andrew-vargas {
  animation: fill-anim 1s ease forwards 3.2s;
}

#andrew-vargas path:nth-child(1) {
  stroke-dasharray: 208px;
  stroke-dashoffset: 208px;
  animation: line-anim 2s ease forwards;
}

#andrew-vargas path:nth-child(2) {
  stroke-dasharray: 186px;
  stroke-dashoffset: 186px;
  animation: line-anim 2.5s ease forwards 0.3s;
}
#andrew-vargas path:nth-child(3) {
  stroke-dasharray: 209px;
  stroke-dashoffset: 209px;
  animation: line-anim 2.3s ease forwards 0.6s;
}
#andrew-vargas path:nth-child(4) {
  stroke-dasharray: 122px;
  stroke-dashoffset: 122px;
  animation: line-anim 2.5s ease forwards 0.9s;
}
#andrew-vargas path:nth-child(5) {
  stroke-dasharray: 197px;
  stroke-dashoffset: 197px;
  animation: line-anim 2.3s ease forwards 1.2s;
}
#andrew-vargas path:nth-child(6) {
  stroke-dasharray: 258px;
  stroke-dashoffset: 258px;
  animation: line-anim 2.7s ease forwards 0.9s;
}

#andrew-vargas path:nth-child(7) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: line-anim 2s ease forwards;
}
#andrew-vargas path:nth-child(8) {
  stroke-dasharray: 170px;
  stroke-dashoffset: 170px;
  animation: line-anim 2.5s ease forwards 0.3s;
}
#andrew-vargas path:nth-child(9) {
  stroke-dasharray: 122px;
  stroke-dashoffset: 122px;
  animation: line-anim 2.3s ease forwards 0.6s;
}
#andrew-vargas path:nth-child(10) {
  stroke-dasharray: 239px;
  stroke-dashoffset: 239px;
  animation: line-anim 2.5s ease forwards 0.9s;
}
#andrew-vargas path:nth-child(11) {
  stroke-dasharray: 197px;
  stroke-dashoffset: 197px;
  animation: line-anim 2.3s ease forwards 1.2s;
}
#andrew-vargas path:nth-child(12) {
  stroke-dasharray: 205px;
  stroke-dashoffset: 205px;
  animation: line-anim 2.5s ease forwards 1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-anim {
  from {
    fill: transparent;
  }
  to {
    fill: var(--bright-yellow);
  }
}

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-color);
}

.hero-text h5 {
  font-family: var(--quantico);
  color: var(--second-color);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1.3rem;
}

.hero-text h4 {
  font-family: var(--oxygen);
  align-self: auto;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--hover-color);
  letter-spacing: 5px;
}

.social-links {
  padding: 0;
  margin: 2rem 1rem;
  font-size: 1.5rem;
}

.fonta-icon {
  color: var(--second-color);
  margin: 0.3rem 1rem;
  transition: color 0.2s ease-in-out;
}

.fonta-icon:hover {
  color: var(--hover-color);
}

.projects-container {
  background: var(--main-color);
}

.projects {
  display: flex;
  flex-direction: column;
}

.featured-project {
  display: flex;
  height: 60vh;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s all ease-in-out;
}

.featured-project-scroll {
  opacity: 1;
  transform: translateY(0);
}

.featured-project:nth-child(even) {
  margin-top: 20px;
  margin-right: 50px;
  flex-direction: row-reverse;
}

.featured-project:nth-child(even) .project-text {
  transform: translateX(150px);
}

.featured-project:nth-child(even) .featured-links {
  flex-direction: row-reverse;
}

.featured-project:nth-child(even) .tech-used p {
  text-align: right;
}

.featured-img {
  margin-left: 50px;
  max-width: 38vw;
  display: flex;
  flex-direction: column;
}

.featured-links {
  display: flex;
  justify-content: space-between;
}

.featured-links h1 {
  font-size: 1.5rem;
  color: var(--second-color);
  font-family: var(--oxygen);
  letter-spacing: 3px;
}

.project-img {
  background: url('./img/project-placement-1.jpg') center/cover no-repeat;
  height: 55vh;
  filter: grayscale();
  width: 38vw;
  border: 1px solid black;
  transition: filter 0.3s ease-in;
}

.project-img:hover {
  filter: none;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.project-links a {
  color: var(--second-color);
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 5px;
}

.project-links a:hover {
  color: var(--hover-color);
}

.project-description {
  align-self: center;
  transform: translateY(50px);
  transition: 1s all ease-in-out;
}

.project-description-appear {
  opacity: 1;
  transform: translateY(0);
}

.project-text {
  display: flex;
  height: 15vh;
  width: 55vw;
  background-color: var(--second-color);
  transform: translateX(-100px);
  overflow: hidden;
  z-index: 5;
  transition: border-radius 0.5s ease-in;
}

.project-text:hover {
  border-radius: 20px;
}

.project-text p {
  margin-left: 10px;
  align-self: center;
}

.tech-used p {
  margin-top: 10px;
  text-align: center;
  word-spacing: 15px;
  font-size: 1.6rem;
  color: var(--second-color);
}

.about-container {
  height: 50vh;
  background: var(--main-color);
}

.about-sections {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-description {
  width: 60vw;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 15px;
  align-self: flex-start;
  color: var(--main-color);
  background-color: var(--second-color);
  box-shadow: 15px 18px 15px -12px rgba(0, 0, 0, 0.34);
}

.contact-container {
  background-color: var(--main-color);
  height: 60vh;
}

.contact-box {
  position: relative;
  display: flex;
  height: 45vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-box p {
  font-size: 1.1rem;
  text-align: center;
  width: 600px;
  color: var(--second-color);
}
.contact-box a {
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: var(--second-color);
  width: 125px;
  bottom: 35%;
  text-decoration: none;
  border: 1px solid var(--second-color);
  transition: all 0.4s linear;
}
.contact-box a:hover {
  background: var(--second-color);
  color: var(--main-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--main-color);
  font-family: var(--oxygen);
  letter-spacing: 1px;
}

.fas.fa-bars {
  background-color: var(--second-color);
}

.navbar-toggler-icon {
  height: 25px;
  color: var(--second-color);
  border: 1px solid var(--second-color);
}

.nav-titles a {
  color: var(--second-color);
  font-family: var(--oxygen);
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 1.6rem;
  font-size: 1.3rem;
  letter-spacing: var(--letter-spacing);
  transition: all 0.3s ease-in-out;
}
.nav-titles a:hover {
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}
.brand-logo {
  font-family: var(--quantico);
  letter-spacing: 0.2rem;
  color: var(--bright-yellow);
  font-size: 1.9rem;
}

.brand-logo:hover {
  color: var(--hover-color);
}

.titles {
  font-family: var(--oxygen);
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  font-size: 2.25rem;
  color: var(--second-color);
  letter-spacing: var(--letter-spacing);
}

.line-break {
  width: 75%;
  margin: 1.7rem auto;
  background-color: var(--second-color);
}

#textarea-label {
  margin-left: 52px;
}

footer {
  position: relative;
  height: 80px;
  background: var(--second-color);
}

.footer-links {
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  margin: 0;
}

.footer-icon {
  margin: 0.3rem 0.7rem;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.footer-icon:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--main-color);
  transform: translateY(-5px);
  color: var(--main-color);
}

#resume-btn {
  font-family: var(--oxygen);
  font-size: 0.8rem;
  letter-spacing: 2px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  border: 1px solid var(--second-color);
  border-radius: 3px;
  color: var(--second-color);
  outline: 2px solid var(--main-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in;
}

#resume-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.vertical-email {
  position: absolute;
  right: 3%;
  bottom: 21%;
  display: flex;
  align-items: center;
  transform: rotate(270deg);
}

.email-line {
  width: 143px;
  height: 2px;
  background-color: #d3fff3;
}
.email-vert {
  margin: auto;
  margin-left: 5px;
  padding-bottom: 1px;
  color: var(--bright-yellow);
  font-size: 1.1rem;
}
